@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  --elmts: hsl(209, 23%, 22%);
  --bckg: hsl(207, 26%, 17%);
  --text: hsl(0, 0%, 100%);
  --input: hsl(0, 0%, 81%);
}

.light {
  --elmts: hsl(0, 0%, 100%);
  --bckg: hsl(0, 0%, 98%);
  --text: hsl(200, 15%, 8%);
  --input: hsl(0, 0%, 52%);
}

h1 {
  font-weight: bold;
  font-size: 14px;
  padding: 3px;
}

h2 {
  font-weight: bold;
  font-size: 12px;
  padding: 2px;
}

span {
  font-size: 12px;
  font-weight: normal;
}
